/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ng2-slim-loading-bar/style.css";
@import "../node_modules/ngx-smart-modal/ngx-smart-modal.css";

.alert {
    position: relative;
    padding: .4rem .8rem !Important;
    margin-bottom: 0.01rem !Important;
    font-size: 14px !Important;
    border: 1px solid transparent;
    border-radius: .25rem;
}
